<div class="container-fluid">

    <div class="contenedor">
        <table>
            <thead>
                <tr class="text-center">
                    <th>nombre</th>
                    <th>Descripcion</th>
                    <th>Informacion</th>
                    <th>Marca</th>
                    <th>presentacion</th>
                    <th>categoria</th>
                    <th>Codigo de Barra</th>
                    <th>fecha de Baja</th>
                    <th>stock Actual</th>
                    <th>stock Minimo</th>
                    <th></th>
                    <th><button (click)="Nuevo()" class="btn btn-success   ">Nuevo</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos" class="text-center">
                    <th>{{producto.nombre}}</th>
                    <th>{{producto.productoDescripcion}}</th>
                    <th>{{producto.productoInformacion}}</th>
                    <th>{{producto.marca}}</th>
                    <th>{{producto.presentacion}}</th>
                    <th>{{producto.categoriId}}</th>
                    <th>{{producto.codigoBarra}}</th>
                    <th>{{producto.fechaBaja}}</th>
                    <th>{{producto.stockActual}}</th>
                    <th>{{producto.stockMinimo}}</th>
                    <th>
                        <button (click)="Editar(producto)" class="btn btn-warning  btn-sm">Editar</button></th>

                    <th>
                        <button class="btn btn-danger btn-sm ">Eliminar</button>

                    </th>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>