<div class="container-fluid">
    <div class="contenedor1">
        <div class="row">
            <input type="text" [(ngModel)]="busqueda" class="formInput  searchText" placeholder="Ingrese busqueda" (keyup)="filtrarArticulo()" />
            <tr> <button (click)="Exportar()" class="btn btn-success">Exportar Excel</button> </tr>
        </div>
    </div>
    <div class="contenedor">
        <table>
            <thead>
                <tr class="text-center">
                    <th>IdBanco</th>
                    <th>Nombre Banco</th>
                    <th></th>
                    <th><button (click)="Nuevo()" class="btn btn-success  btn-sm ml-auto" *ngIf="isAdmin">Nuevo</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let banco of bancosFilter" class="text-center">

                    <td>{{banco.id_banco}}</td>
                    <td>{{banco.nombreBanco}}</td>

                    <td>
                        <button (click)="Editar(banco)" class="btn btn-primary  btn-sm" style="margin-left: 10px" *ngIf="isAdmin">Editar</button></td>
                    <td> <button (click)="Eliminar(banco)" class="btn btn-danger btn-sm " style="margin-left: 10px" *ngIf="isAdmin">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>