<div class="contenedor">
    <div class="cabecera">
        <h5>Factura Compra</h5>
        <label>Factura N°</label>
        <input type="text">
        <label>Fecha</label>
        <input type="date">

        <div class="proveedor">
            <h5>Proveedor</h5>
            <label>Proveedor</label>
            <input type="text">
            <label>Razon Social</label>
            <input type="text">
            <label>C.U.I.T</label>
            <input>
            <label> Direccion</label>
            <input>
            <label>Telefono</label>
            <input type="text">
            <label>Mail</label>
            <input type="email">
            <input type="submit" value="Buscar">
            <div class="detalleFactura">

                <label>Codigo</label>
                <input>
                <label>Producto</label>
                <input>
                <label>Cantidad</label>
                <input>
                <label>Precio</label>
                <input>
                <label>Valor total</label>
                <input>
            </div>
        </div>


    </div>

</div>