<div class="fondo">
    <!-- <div class="container"> -->
    <div>

        <div class="d-flex justify-content-center h-100 centro">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <!-- <span class="input-group-text"><i class="fas fa-user"></i
                  ></span> -->
                            </div>
                            <input type="text" class="form-control input" name="nombreUsuario" placeholder="username" [(ngModel)]="nombreUsuario" />
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <!-- <span class="input-group-text"><i class="fas fa-key"></i></span> -->
                            </div>
                            <input type="password" class="form-control input" name="password" placeholder="password" [(ngModel)]="password" />
                        </div>

                        <div class="form-group">
                            <button (click)="onLogin()" class="btn btn-block login_btn">
                  Login
                </button>
                            <div class="container-error-message" *ngIf="!isLogged && !consulta">
                                Usuario o contraseña mal puestos
                            </div>
                            <!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->
                        </div>
                    </form>
                </div>
                <!-- <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Don't have an account?<a href="#">Sign Up</a>
            </div>
            <div class="d-flex justify-content-center">
              <a href="#">Forgot your password?</a>
            </div>
          </div> -->
            </div>
        </div>
    </div>
    <!-- </body> -->
</div>