.card {
    background: rgba(0, 0, 0, .8);
    width: 90%;
    max-width: 450px;
    margin: 200px;
    padding: 5px 35px;
    margin-top: 200px;
    padding-bottom: 30px;
    border-radius: 3px;
    color: #0CD2A8;
}

.login_btn {
    width: 100%;
    font-family: sans-serif;
    background: #0CD2A8;
    font-size: 16px;
    border: none;
    color: black;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.input {
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid#0CD2A8;
    width: 60%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}