<ul class='nav'>
    <li tabindex='1'>Seguridad
        <div>
            <ul>
                <li><a href='usuario'>ABM usuario</a></li>
                <li><a href=''>ABM permisos</a></li>
                <li><a href=''>ABM roles</a></li>
                <li><a href=''>Cambio de contraseña</a></li>

            </ul>
        </div>
    </li>
    <li tabindex='2'>Stock
        <div>
            <ul>

                <li><a href='marca'>Marca</a></li>
                <li><a href='categorias'>Categoria</a></li>
                <li><a href='proveedor'>Proveedor</a></li>
                <li><a href='banco'>Banco</a></li>
                <li><a href='CuentaBancaria'>Cuenta Bancaria</a></li>



                <li><a href='productos'>Producto</a>

                </li>

            </ul>
        </div>
    </li>
    <li tabindex='3'>compras
        <div>

        </div>
    </li>


    <li (click)="onLogOut()">Cerrar Sesion</li>
</ul>

<!-- <svg class='hide' xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
<filter id="svg-blur">
<feGaussianBlur in="SourceGraphic" stdDeviation="0,20" />
</filter>
</svg> -->