<div class="container-fluid">
    <div class="contenedor1">
        <div class="row">
            <input type="text" [(ngModel)]="busqueda" class="formInput  searchText" placeholder="Ingrese busqueda" (keyup)="filtrarArticulo()" />
            <tr> <button (click)="Exportar()" class="btn btn-success">Exportar Excel</button> </tr>
        </div>
    </div>
    <div class="contenedor">
        <table>
            <thead>
                <tr class="text-center">
                    <th>Proveedor</th>
                    <th>Banco</th>
                    <th>Tipo Cuenta</th>
                    <th>CBU</th>
                    <th></th>
                    <th><button (click)="Nuevo()" class="btn btn-success  btn-sm ml-auto">Nuevo</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cuenta of cuentasFilter" class="text-center">
                    <td>{{cuenta.proveedorID.nombre}}</td>
                    <td>{{cuenta.bancoID.nombreBanco}}</td>
                    <td>{{cuenta.tipoCuenta}}</td>
                    <td>{{cuenta.cbu}}</td>
                    <td>
                        <button (click)="Editar(cuenta)" class="btn btn-primary  btn-sm" style="margin-left: 10px">Editar</button></td>
                    <td> <button (click)="Eliminar(cuenta)" class="btn btn-danger btn-sm " style="margin-left: 10px">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>