<div class="contenedor">
    <form class="form" [formGroup]="formMarca">

        <div class="form-header">
            <h1 class="form-title">Editar<span> Marca</span></h1>
        </div>

        <div>
            <label class="form-label">Nombre</label>
            <input [(ngModel)]="marca.nombre" name="nombre" type="text" formControlName="nombre" class="form-input" placeholder="Nombre">
            <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div class="container-error-message" *ngIf="nombre.errors.required">
                    Descripción es requerido
                </div>
            </div>
        </div>

        <div>
            <label class="form-label">Descripción</label>
            <input [(ngModel)]="marca.descripcion" name="descripcion" type="text" formControlName="descripcion" class="form-input" placeholder="descripcion">
            <div class="alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div class="container-error-message" *ngIf="descripcion.errors.required">
                    Abreviatura es requerido
                </div>


            </div>
        </div>



        <input (click)=Actualizar(marca) type="submit" class="btn-submit" value="Guardar">

    </form>
</div>