<div class="container-fluid">

    <div class="contenedor1">
        <div class="row">
            <input type="text" [(ngModel)]="busqueda" class="formInput  searchText" placeholder="Ingrese busqueda" (keyup)="filtrarArticulo()" />
            <tr> <button (click)="Exportar()" class="btn btn-success">Exportar Excel</button> </tr>
        </div>
    </div>

    <div class="contenedor">
        <table>
            <thead>
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Razon Social</th>
                    <th>Telefono Fijo</th>
                    <th>Whatsapp</th>
                    <th>C.U.I.T</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th></th>

                    <th><button (click)="Nuevo()" class="btn btn-success   " *ngIf="isAdmin">Nuevo</button></th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedoresFilter" class="text-center">

                    <td>{{proveedor.nombre}}</td>
                    <td>{{proveedor.razon_social}}</td>
                    <td>{{proveedor.telefono_fijo}}</td>
                    <td>{{proveedor.whatsapp}}</td>
                    <td>{{proveedor.cuit}}</td>
                    <td>{{proveedor.direccion}}</td>
                    <td>{{proveedor.mail}}</td>

                    <td>
                        <button (click)="Editar(proveedor)" class="btn btn-primary  btn-sm" *ngIf="isAdmin">Editar</button>
                    </td>
                    <td>
                        <button (click)="Eliminar(proveedor)" class="btn btn-danger btn-sm " *ngIf="isAdmin">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>