<div class="contenedor">
    <form class="form" [formGroup]="formCategoria">

        <div class="form-header">
            <h1 class="form-title">Nueva<span> Categoria</span></h1>
        </div>

        <div>
            <label class="form-label">Descripcion</label>
            <input [(ngModel)]="categoria.descripcion" name="descripcion" type="text" formControlName="descripcion" class="form-input" placeholder="Descripcion">
            <div class="alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div class="container-error-message" *ngIf="descripcion.errors.required">
                    Descripción es requerido
                </div>
                <div class="container-error-message" *ngIf="descripcion.errors.minlength">
                    Nombre debe tener al menos 3 caracteres.
                </div>

            </div>
        </div>

        <div>
            <label class="form-label">Abreviatura</label>
            <input [(ngModel)]="categoria.etiqueta" name="informacion" type="text" formControlName="abreviatura" class="form-input" placeholder="Abreviatura">
            <div class="alert-danger" *ngIf="abreviatura.invalid && (abreviatura.dirty || abreviatura.touched)">
                <div class="container-error-message" *ngIf="abreviatura.errors.required">
                    Abreviatura es requerido
                </div>
                <div class="container-error-message" *ngIf="abreviatura.errors.maxlength">
                    Abreviatura debe tener como máximo 5 caracteres.
                </div>

            </div>
        </div>



        <div class="row">
            <button (click)="Guardar()" class="btn btn-primary  btn-sm" style="margin-left: 10px">Guardar</button>
            <button routerLink="/categorias" class="btn btn-warning  btn-sm" style="margin-left: 10px">Cancelar</button>

        </div>

    </form>
</div>