.alert-danger {
    display: block;
    color: #FF4A4A;
    background: rgba(0, 0, 0, 0);
    border-color: white;
    margin-bottom: 4px;
}

.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #0CD2A8;
    padding: 14px 0;
    text-align: center;
    padding: 14px 0;
}

.contenedor .form .form-header .form-title span {
    color: #fff;
}


/*Para darle formato al contenedor*/

.contenedor .form {
    background: rgba(0, 0, 0, .8);
    width: 90%;
    max-width: 450px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}


/*Para darle formato a las letras*/

.contenedor .form .form-label {
    display: inline-table;
    color: #0CD2A8;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}


/*Para darle formato a los input*/

.contenedor .form .form-input {
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid#0CD2A8;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor .form .btn-submit {
    width: 100%;
    font-family: sans-serif;
    background: #0CD2A8;
    font-size: 16px;
    border: none;
    color: black;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor .form .btn-submit:hover {
    background: #087FE2;
}

.container-error-message {
    padding: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.btn-primary {
    width: 40%;
    color: rgba(0, 0, 0, 0.822);
    background: #0CD2A8;
}

.btn-warning {
    width: 40%;
}