<div class="container-fluid">

    <div class="contenedor">
        <table>
            <thead>
                <tr class="text-center">
                    <th>Descripcion</th>
                    <th>Abreviatura</th>
                    <th></th>
                    <th><button (click)="Nuevo()" class="btn btn-success  btn-sm ml-auto">Nuevo</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias" class="text-center">

                    <td>{{categoria.descripcion}}</td>
                    <td>{{categoria.etiqueta}}</td>

                    <td>
                        <button (click)="Editar(categoria)" class="btn btn-primary  btn-sm" style="margin-left: 10px">Editar</button></td>
                    <td> <button (click)="Eliminar(categoria)" class="btn btn-danger btn-sm " style="margin-left: 10px">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>